---
import BaseLayout from './BaseLayout.astro';
import Header from '@/components/astro/Header.astro';
import Footer from '@/components/astro/Footer.astro';
import ToastProvider from '@/components/react/ToastProvider';
import ScrollToTop from '@/components/react/ScrollToTop';
import ScrollProgressBar from '@/components/react/ScrollProgressBar';

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<BaseLayout title={title} description={description} image={image}>
  <ScrollProgressBar client:load />
  <Header />
  <main class="pt-20">
    <slot />
  </main>
  <Footer />
  <ToastProvider client:only="react" />
  <ScrollToTop client:load />
</BaseLayout>
